/**
 * Remove default list styles, margins and padding.
 */

 ol,
 ul {margin: 0;
padding: 0;
list-style:none;
}

.lyon {
    background-image: url(images/LYON.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto;
    opacity: 0.75;
    image-rendering: -webkit-optimize-contrast;
}
body {
    background-color: black;
    font-family: Lato;
    background: #111;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
      }
    
h1 {
    font-size: 28em;
    margin-bottom: 0;
    margin-top: 0;
}
 
h2 {
    font-size: 5.5em;
    margin-top: 0;
    margin-bottom: 0;
}

#button {
    width: 6em;
    border: 2px solid magenta;
    background: black;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: black;
    background: black;
}

 
@media only screen and (max-width: 736px) {
    h1 {
        font-size: 9em;
         margin-top: 50%;
         width: auto;
         height: auto;
    }
     
    h2 {
        font-size: 2em;
        margin-bottom: 5%;
        width: auto;
        height: auto;
    }
    
    #button {
        width: 3em;
        border: 0.5px solid magenta;
        background: black;
        border-radius: 3px;
    }

    .lyon {
        background-image: url(images/LYON.jpg);
        background-repeat: repeat; /* Do not repeat the image */
        background-size: cover;
        opacity: 0.75;
    }

    }
