/**
 * Remove default list styles, margins and padding.
 */

 ol,
 ul {margin: 0;
padding: 0;
list-style:none;
}

body {
    background-color: black;
    font-family: Lato;
    font-size: 8em;
    background: #111;
    text-align: center;
      }
 